:host {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 1.5rem;
}

input,
select {
  padding: 1rem 2rem;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  font-size: 2rem;
}

option {
  color: black;
}

input {
  max-width: 320px;
  margin-right: 40px;
}
