@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,700;1,400&display=swap");

body {
  margin: 0px;
  background-color: black;
  color: white;
  height: 100%;
}

body,
input,
button,
select {
  font-family: "Source Sans Pro", sans-serif;
}

* {
  outline: none !important;
}
